#mainContent:after, #mainContentFull:after{
    position:absolute;
    display: block;
    clear: both;
    color: grey;
    margin-top:40px;
    bottom:10px;
    content: "© 2026 CollectiveAccess - déployé par idéesculture";
    font-size: 11px;
    font-family: 'DIN-Regular';
    margin-left:20px;
}
