@import 'colors';
@import 'commons';
@font-face {
font-family: 'ebgaramond';
font-style: normal;
font-variant: normal;
src: url("/var/www/floutier.lescollections.fr/collectiveaccess/providence/app/plugins/bookCreator/assets/fonts/EBGaramond/otf/EBGaramond12-Regular.otf") format("truetype");
}
@font-face {
font-family: 'ebgaramond';
font-style: normal;
font-variant: small-caps;
src: url("/var/www/floutier.lescollections.fr/collectiveaccess/providence/app/plugins/bookCreator/assets/fonts/EBGaramond/otf/EBGaramondSC12-Regular.otf") format("truetype");
}
@font-face {
font-family: 'ebgaramond';
font-style: italic;
src: url("/var/www/floutier.lescollections.fr/collectiveaccess/providence/app/plugins/bookCreator/assets/fonts/EBGaramond/otf/EBGaramond12-Italic.otf") format("truetype");
}
$font:'ebgaramond';
@import 'mixins';
@media print {
	@page {
		size: A4 landscape;
		margin: 10mm;
	}
}
html {
	zoom: 0.4; /*workaround for phantomJS2 rendering pages too large*/
}

.page{
	height: 210mm; // Defines the total size inside the page, margin included
	width: 297mm;
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-style:normal;
	font-weight:normal;
	font-variant: small-caps;
}

em {
	font-weight: normal;
	font-style: italic;
}

body {
    font-family: $font;
    font-size:12pt;
	padding: 0; margin: 0;
	height: 184mm; width: 281mm; // Defines the usable size inside the page.
	line-height: 1.2em;
	font-variant-ligatures: common-ligatures;
	-webkit-font-variant-ligatures: common-ligatures;
}

.dedicace {
	page-break-before: always;
	width:100%;
	box-sizing: border-box;
	padding-top:10cm;
	padding-right:2cm;
	padding-left:2cm;
	text-align: center;
	//font-family: $fontitalic;
}

.dedicace-centre {
	@extend .dedicace;
}

.dedicace-droite {
	@extend .dedicace;
    text-align: right;
}

.chapter {
	page-break-before: always;
	/*box-sizing: border-box;*/
	border:1pt solid white;
	width:100%;
	padding:0;
	clear:both;
	page-break-after:always;

	h1 {
		padding-top:4cm;
		font-size: 46pt;
		line-height:1.3em;
		border-bottom:1px solid black;
	}

	h2, h3, h4, h5, h6, p {
		padding-left: 6cm;
		padding-right:2cm;
	}
	p {
		padding-bottom:0.7em;
		line-height:1.1em;
	}
	blockquote {
		margin-left:6cm;
		padding-top:0.7cm;
		margin-right:2cm;
	    p {
		    margin-left: 0;
		    padding-left: 1cm;
		    margin-right:1cm;
	    }
		page-break-inside: avoid !important;
	}
}
.chapter-one-column {
	@extend .chapter;

}

.chapter-two-columns {
	padding-left:9cm;
	@extend .chapter;

	h1 {
		margin-left:-7cm;
	}
	h2, h3, h4, h5, h6 {
		padding-left:0;
	}
	p {
		width:7cm;
		float:left;
		padding-left:0;
	}
	p:nth-child(2n+1) {
		clear:both;
	}

	blockquote{
		clear:both;
		padding-left:0;
		margin-left:0;
		p {
			width:100%;
			display:block;
			float:none;
		}
	}
}


.chapter-one-column-one-image {
	@extend .chapter;
	padding:0;
	margin:0;

	.content-text {
		margin-top:80mm;

		h1 {
			margin:0;
			padding:0;
		}
		
		h2, h3, h4, h5, h6 {
			padding-left:0;
		}
		
		.content {
			margin-left:9.3cm;
			margin-top:0.6cm;
			p {
				width:7cm;
				padding-left:0;
				margin:0;
				padding:0;
				margin-bottom: 2.1mm;
				font-size:1em;
			}
			p:nth-child(2n+1) {
			}
		
			blockquote{
				clear:both;
				padding-left:0;
				margin-left:0;
				p {
					width:100%;
					display:block;
					float:none;
				}
			}
		}

	}

	.mediacolumn {
		width:10.6cm;
		padding-left:0;
		margin-bottom: 2px;
		font-size:1em;
		padding:0;
		position:absolute;
		top:10.2cm;
		right:0.5cm;
		z-index:500;
	}
	IMG {
		margin-top: 8pt;
		width: auto;
		height:7cm;
		margin-bottom:8pt;
	}
}

.page-de-titre {
	box-sizing: border-box;
	page-break-before: always;
	text-align: center;
	position: relative;
	padding-top:1cm;
	min-height: 90%;
	page-break-after:always;
	overflow: hidden;

	p {
		font-variant: small-caps;
	}
	h1 {
		padding-top:3cm;
		padding-bottom:1cm;
		font-size:4em;
		font-weight:normal;
		font-variant: normal;
		font-style: italic;
		max-width:15cm;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		line-height:1em;
	}
	.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-top:0.7cm;
		border-top:1px solid grey;
		max-width:7cm;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		font-variant:small-caps;
	}
}

.dos-page-de-titre {
	page-break-before: always;
	position:relative;
	bottom:0;
	font-size:0.7em;
	max-width: 10cm;
	margin-left:0.4cm;
	page-break-after:always;
	top:7.3cm;
}

.page-blanche {
	page-break-before: always;
}
.page-blanche:before {
	color:white;
	content: " ";
	height:10px;
	width:10px;
	display:block;
	page-break-after:always;
}

.hors-texte {
	clear: both;
	page-break-before: always;

	.media {
		float:left;
		width:62%;
		margin-right:1cm;
		IMG {
			width: 100%;
			height:auto;
			max-height:80%;
			overflow: hidden;
		}
		p {
			padding-left:0;
			font-variant: small-caps;
			margin:0.2em 0;
		}
	}
	padding-left:1cm;
	margin-right:4cm;
	p {
		padding-left:1cm;
		margin-left:1cm;
	}
}

.hors-texte-gauche {
	@extend .hors-texte;
}

.hors-texte-droit {
	@extend .hors-texte;
	margin-right:0;
	.media {
		float: right;
		width:50%;
		IMG {
			margin-left:2cm;
			width: 100%;
			height:auto;
			max-height:80%;
			overflow: hidden;
		}
		P {
			margin-left:2cm;
			font-size:0.8em;
			line-height:0.9em;
			color:#555;
		}
	}
	p {
		padding-right:1cm;
		padding-left:2cm;
	}
}

.acheve-d-imprimer {
	page-break-before: always;
	width:100%;
	box-sizing: border-box;
	padding-top:10cm;
	padding-right:2cm;
	padding-left:2cm;
	text-align: center;
}

.ensemble {
	page-break-before: always;

	.media {
		height:45%;
		max-height:45%;
		max-width: 26.5%;
		width:26.5%;
		margin-right:1cm;
		margin-left:0.9cm;
		margin-top:0.5cm;
		float:left;
		page-break-inside: avoid;

		.image {
			background-size:contain;
			width:100%;
			height:6cm;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #eeeeee;
		}

		p {
			text-align:justify;
			margin:0.1em 0;
			line-height: 1.05em;
			font-size:9.4pt;
			font-variant-ligatures: normal;
			-webkit-font-variant-ligatures: normal;

		}
		p.name, span.name {
			margin:0.2em 0;
			line-height: 1.05em;
			font-size:11pt;
			
			font-variant-ligatures: common-ligatures;
			-webkit-font-variant-ligatures: common-ligatures;
			font-variant: small-caps;
			
		}
		p.paragraph-titre {
			margin-top:6px;
		}
	}
}

.ensemble-6-par-page {
	@extend .ensemble;
	
	.media {overflow:hidden;}
}

.ensemble4 {
	page-break-after: always;

	.media {
		height:40%;
		max-height:50%;
		max-width: 26%;
		width:26%;
		margin-right:1cm;
		margin-left:1cm;
		float:left;
		page-break-inside: avoid;

		.image {
			background-size:contain;
			width:100%;
			height:6cm;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #eeeeee;
		}

		p {
			text-align:justify;
			margin:0.1em 0;
			line-height: 1.05em;
			font-size:9 px;
			font-variant-ligatures: normal;
			-webkit-font-variant-ligatures: normal;

		}
		p.name, span.name {
			margin:0.2em 0;
			line-height: 1.05em;
			font-size:11 px;
			font-variant-ligatures: common-ligatures;
			-webkit-font-variant-ligatures: common-ligatures;
			font-variant: small-caps;
		}
	}
}

.ensemble-4-par-page-texte-bas {
	@extend .ensemble4;
	
	.media {
		height:42%;
		max-height:42%;
		max-width: 43%;
		width:43%;
		margin-right:1.3cm;
		margin-left:1.3cm;
		float:left;
		page-break-inside: avoid;
		overflow: hidden;
		margin-top:5mm;
	}

}

.ensemble-4-par-page-texte-droite {
	@extend .ensemble4;
	.media {
		height:40%;
		max-height:40%;
		max-width: 41%;
		width:41%;
		margin-right:1cm;
		margin-left:1cm;
		float:left;

		overflow: hidden;
		
		.image {
			float:left;
			background-size:contain;
			width:40%;
			height:4cm;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #eeeeee;
			margin-right:5mm;
		}

		p {
			text-align:left;
			margin:0.1em 0;
			padding-left:1cm;
			line-height: 1.05em;
			font-size:9 px;
			font-variant-ligatures: normal;
			-webkit-font-variant-ligatures: normal;

		}	
	}		
}

.page-image {
	display:flex;
	text-align: center;
	margin:0;

	IMG {
		height:90%;
		overflow: hidden;
	}
}

.texte-deux-images-gauche,
.texte-deux-images-droite {
	page-break-before: always;
	display:table;

	.content {
		width:14cm;
		display:table-cell;
		vertical-align:top;
		padding-left:3.5cm;
		padding-right:2cm;
		padding-top:2cm;
		padding-bottom:1cm;
	}

	.media-bar {
		width:8cm;
		padding-top:2cm;		
		display:table-cell;
		vertical-align:top;

	}

	.media {
		width:100%;
		height: auto;
		page-break-inside: avoid;
		margin-bottom:8mm;

		.image {
			background-size:contain;
			width:100%;
			height:6cm;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #eeeeee;
		}

		p {
			text-align:justify;
			margin:0.1em 0;
			line-height: 1.05em;
			font-size:9 px;
			font-variant-ligatures: normal;
			-webkit-font-variant-ligatures: normal;

		}
		p.name, span.name {
			margin:0.2em 0;
			line-height: 1.05em;
			font-size:11 px;
			font-variant-ligatures: common-ligatures;
			-webkit-font-variant-ligatures: common-ligatures;
			font-variant: small-caps;
		}
	}
}

.texte-deux-images-gauche {
	page-break-before: always;
	
	margin-left:2cm;
	
	.content {
		padding-left:2cm;
		}
}
