@font-face{
	font-family:'EB Garamond';
	font-style:normal;
	font-weight:400;
	src:url(http://brick.a.ssl.fastly.net/fonts/ebgaramond/400.woff) format('woff')
}

@font-face{
	font-family:'EB Garamond';
	font-weight:400;
	font-style:italic;
	src:url(http://brick.a.ssl.fastly.net/fonts/ebgaramond/400i.woff) format('woff')
}
@font-face{
	font-family:'Open Sans';
	font-style:normal;
	font-weight:400;
	src:url(http://brick.a.ssl.fastly.net/fonts/opensans/400.woff) format('woff')
}
@font-face{
	font-family:'Open Sans';
	font-style:normal;
	font-weight:700;
	src:url(http://brick.a.ssl.fastly.net/fonts/opensans/700.woff) format('woff')
}

$font: 'EB Garamond';
